<% if notice.present? %>
  <div id="notice" class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Detalhes da Conta</strong></h5>
    
    <p class="card-text">
      <strong>Nome:</strong> <%= @contum.nome %>
    </p>

    <p class="card-text">
      <strong>Valor:</strong> <%= number_to_currency(@contum.valor, unit: "R$ ") %>
    </p>

    <p class="card-text">
      <strong>Data de Vencimento:</strong> <%= l(@contum.data_vencimento, format: :long) %>
    </p>

    <p class="card-text">
      <strong>Status:</strong> <%= @contum.status %>
    </p>

    <%= link_to 'Editar', edit_contum_path(@contum), class: "btn btn-primary" %>
    <%= link_to 'Voltar', conta_path, class: "btn btn-secondary" %>
  </div>
</div>

